
  <nav class="sidebar-nav">
    <!--<a class="sidebar-nav-item" href="{{@blog.url}}">Home</a>-->
   
     {{#foreach navigation}}
            <a class="sidebar-nav-item" href="{{url absolute="true"}}">{{label}}</a>
     {{/foreach}}
   
  </nav>
  
