@import url(http://fonts.googleapis.com/css?family=Montserrat:400);

p, ul, li {
  font-family: 'Avenir','Helvetica','Avenir','Arial', sans-serif;
  color: #4d4d4d;
}

html {
  font-family: 'Avenir','Helvetica','Avenir','Arial', sans-serif;
}

/* No `:visited` state is required by default (browsers will use `a`) */
a {
  color: #4d4d4d;
  text-decoration: none;
  border-bottom: 2px solid #e1e1e1;
}
a strong {
  color: inherit;
}
/* `:focus` is linked to `:hover` for basic accessibility */
a:hover,
a:focus {
  color: #000;
  border-bottom-color: #d28445;
}

a:link, a:visited, a:hover, a:active {
  transition-property: all;
  transition-duration: .2s;
  -webkit-transition-timing-function: cubic-bezier(0.165, 0.630, 0.140, 0.820);
  -moz-transition-timing-function: cubic-bezier(0.165, 0.630, 0.140, 0.820);
  -ms-transition-timing-function: cubic-bezier(0.165, 0.630, 0.140, 0.820);
  -o-transition-timing-function: cubic-bezier(0.165, 0.630, 0.140, 0.820);
  transition-timing-function: cubic-bezier(0.165, 0.630, 0.140, 0.820);
  -webkit-font-smoothing: antialiased
}

a.blog-title {
  border-bottom: none;
}

.img {
  border-bottom: none;
}

.author-link a,
.subscribe a {
  border-bottom: none;
  font-style: normal;
}

.subscribe {
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat','Helvetica','Avenir','Arial', sans-serif;
  font-weight: 500;

}

h1 {
  font-size: 1.6rem;
  color: #d28445;
}
h2 {
  margin-top: 1rem;
  font-size: 1.25rem;
}
h3 {
  margin-top: 1.5rem;
  font-size: 1.125rem;
}
h4, h5, h6 {
  margin-top: 1rem;
  font-size: 1rem;
}

/* Quotes */
blockquote {
  border-left: .5rem solid #d28445;
}

blockquote p {
  color: #999;
}

.linkarrow {
  color: #aaa;
}

.read-more {
  color: #999;
}

.page-title,
.post-title,
.post-title a {
  color: #444;
}

.post-title-index,
.post-title-index a {
  color: black;
  border-bottom: none;
}

.post-title-index,
.post-title-index a:hover {
  color: #d28445;
}

.sidebar-nav-item {
	border-bottom: none;
}

/* Orange */
a.sidebar-nav-item:hover,
.sidebar-toggle:active,
#sidebar-checkbox:checked ~ .sidebar-toggle {
  background-color: #d28445;
}
.masthead-title a,
.sidebar-toggle,
.related-posts li a:hover {
  color: #d28445;
}
.social{
  width: 90%;
  margin: 0 auto;
}
.social ul {
  width: 100%;
  padding-left: 0;
  display: table-row;
  margin: auto;
}
.social ul li{
  list-style-type: none;
  display:table-cell;
  width: 1%;
}